services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./tmp/db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: bk_job_api_development
    ports:
      - "3306:3306"

  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    environment:
      DATABASE_PASSWORD: password
      DEVISE_JWT_SECRET_KEY: 35c20fc1fa04fe79660ba61ff15cf95cb6835e29eaf358a6e0539bfa6cbe3c63b9212e561b276f70b8d480a670817550e08156dd1b948a2d66bdc05a7479cb60
    depends_on:
      - db
  